<nav class="nav navbar-brand navbar-left header-logo">
    <%= link_to 'Romantic', root_path %>
</nav>

<nav class="nav navbar-nav">
    <span class="client-name  login-client-name">
      ようこそ、<%= current_user.name %>さん！
    </span>
</nav>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to ' マイページ', user_path(current_user), class: 'glyphicon glyphicon-home home' %>
    </li>
    <li>
      <%= link_to ' 投稿一覧', plans_path, class: 'glyphicon glyphicon-book books' %>
    </li>
    <li>
      <%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %>
    </li>
  </ul>
</nav>